BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
NamespaceIndentation: None
PointerAlignment: Left
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SortIncludes: true
