name: Cppcheck

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  cppcheck:
    name: Run Cppcheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install cppcheck
        run: |
          sudo apt-get update
          sudo apt-get install -y cppcheck

      - name: Run cppcheck (src, include)
        run: |
          cppcheck \
            --enable=all \
            --inconclusive \
            --std=c++20 \
            --force \
            --inline-suppr \
            --suppress=missingIncludeSystem \
            -I include \
            --error-exitcode=1 \
            include src
